@use 'src/assets/main';

.list-item-container {
	@include main.hover-bg(var(--bg-dark));
	transition: none !important;

	--height: 3rem;
	height: var(--height);

	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: space-between;
	column-gap: 1rem;
	border-radius: 0.25rem;
	cursor: default;

	&[data-chosen='true'] {
		.list-item-number,
		.list-item-text {
			color: var(--accent);
			border-color: var(--accent);
		}

		background: var(--accent-muted);
	}

	&[data-searched='true'] {
		.list-item-number,
		.list-item-text {
			color: var(--text-main);
			border-color: var(--text-main);
		}
	}

	&[data-completed='true'] {
		.list-item-number,
		.list-item-text {
			color: var(--success);
			border-color: var(--success);
		}
	}

	& > div {
		overflow: hidden;
	}

	& > img {
		height: var(--height);
		width: var(--height);
		border-radius: 0.25rem;
		object-fit: cover;

		color: transparent;
		background: var(--border);
	}
}

.list-item-number {
	@extend .center-content;

	border-right: 2px solid var(--text-muted);
	color: var(--text-muted);
	height: 60%;
	min-width: 3rem;
	width: 3rem;
	overflow: hidden;
	font-size: 1.25rem;

	& > p[data-length='3'] {
		font-size: 1rem;
	}

	& > p[data-length='4'] {
		font-size: 0.8rem;
	}

	& > p[data-length='5'] {
		font-size: 0.6rem;
	}
}

.list-item-text {
	color: var(--text-muted);
	font-size: 1rem;
	line-height: 1.2;
	font-weight: bold;

	text-overflow: ellipsis;
	text-wrap: nowrap;
	overflow: hidden;
}
