@use 'src/assets/main';

.search-form-container {
	margin-left: auto;
	position: relative;

	@extend .center-content;

	.search-form {
		background: var(--bg-base);
		border: 1px solid var(--border);
		border-radius: 0.5rem;
		overflow: hidden;
		padding: 0.25rem 0.75rem;

		display: flex;
		align-items: center;
		column-gap: 0.5rem;
		z-index: 20;
	}

	@media not all and (min-width: 768px) {
		&:not([data-visible='true']) {
			& > .search-form,
			& > .search-form-results,
			.search-form-close {
				display: none;
			}
		}

		&[data-visible='true'] {
			position: absolute;
			width: 100%;
			height: 100%;
			background: inherit;
			inset: 0;

			.search-form {
				border: none;
				background: inherit;
				flex-grow: 1;

				& > *:first-child {
					display: none;
				}
			}

			& > .search-form-open {
				display: none;
			}
		}
	}
}

.search-icon {
	color: var(--text-muted);
	font-size: 1.5rem;
	cursor: pointer;

	&[data-hidden='true'] {
		opacity: 0;
		pointer-events: none;
	}
}

.search-input {
	background: inherit;
	outline: 1px solid transparent !important;
	color: var(--text-main);
	width: 100%;

	&::placeholder {
		color: var(--text-muted);
	}
}
