@use 'src/assets/main';

.search-form-container {
	margin-left: auto;
	position: relative;

	@extend .center-content;

	.search-form {
		background: var(--bg-base);
		border: 1px solid var(--border);
		border-radius: 0.5rem;
		overflow: hidden;
		padding: 0.25rem 0.75rem;

		display: flex;
		align-items: center;
		column-gap: 0.5rem;
		z-index: 20;
	}

	.search-form-close {
		display: none;
	}

	@media not all and (min-width: 768px) {
		&:not([data-visible='true']) {
			opacity: 0;
			pointer-events: none;
		}

		transition: opacity 200ms ease;
		position: fixed;
		z-index: 10000;
		background: var(--bg-dark);
		inset: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 1rem;
		padding: 3rem 1rem;

		&[data-visible='true'] {
			.search-form-close {
				@include main.hover-bg(var(--bg-base));

				display: block;
				padding: 0.25rem;
				border-radius: 50%;
				position: absolute;
				top: 0.5rem;
				right: 0.5rem;
			}

			.search-form {
				& > *:first-child {
					display: none;
				}
				width: 100%;
				padding: 0.5rem 1rem;
				flex-shrink: 0;
			}

			& > .search-form-open {
				display: none;
			}
		}
	}
}

.search-icon {
	color: var(--text-muted);
	font-size: 1.5rem;
	cursor: pointer;

	&[data-hidden='true'] {
		opacity: 0;
		pointer-events: none;
	}
}

.search-input {
	background: inherit;
	outline: 1px solid transparent !important;
	color: var(--text-main);
	width: 100%;

	&::placeholder {
		color: var(--text-muted);
	}
}
