@use 'src/assets/global';
@use 'src/assets/main';

.search-form-results {
	@extend .shadow-base;

	position: absolute;
	width: 100%;
	background-color: var(--bg-dark);
	padding: 0.5rem;
	border-radius: 0.5rem;

	top: calc(100% + 0.5rem);
	left: 0;
	z-index: 10;

	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;

	& > button {
		@include main.hover-bg(var(--bg-dark));

		border-radius: 0.5rem;
		text-align: left;
		display: flex;
		column-gap: 0.5rem;
		align-items: center;
		height: 3rem;
	}
}
