@use 'src/assets/global';
@use 'src/assets/main';

.search-form-results {
	@extend .shadow-base;

	position: absolute;
	width: 100%;
	background-color: var(--bg-dark);
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: 1px solid var(--bg-light);

	top: calc(100% + 0.5rem);
	left: 0;
	z-index: 10;

	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	max-height: calc(100cqh - 9rem);
	overflow-y: auto;

	transition: opacity 200ms ease, transform 200ms ease;

	& > button {
		@include main.hover-bg(var(--bg-dark));

		border-radius: 0.5rem;
		text-align: left;
		display: flex;
		column-gap: 0.5rem;
		align-items: center;
		min-height: 3rem;
	}

	&:not([data-visible='true']),
	&:not(:has(button)) {
		opacity: 0;
		pointer-events: none;
		transform: translateY(-1rem);
	}

	@media not all and (min-width: 768px) {
		width: calc(100% - 1rem);
		left: auto;
	}
}
