@use 'src/assets/main';

.selected-img-container {
	@extend .center-content;

	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.selected-file-name {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--text-main);
	text-align: center;

	&[data-completed='true'] {
		color: var(--success);
	}
}

.selected-file-swapper {
	@extend .center-content;
	@include main.hover-text;
	position: relative;
	overflow: hidden;

	--height: 5rem;
	height: var(--height);
	width: calc(var(--height) / 2);

	& > * {
		font-size: var(--height);
		position: absolute;
	}
}

.selected-file-divider {
	width: 100%;
	height: 1px;
	margin: 0 auto;
	background: var(--border);
}

.selected-file-stat {
	display: flex;
	align-items: center;
	justify-content: space-between;

	color: var(--text-muted);
	font-size: 1.25rem;

	& > *:last-child {
		font-size: 2rem;
	}

	&[data-success='true'] > *:last-child {
		color: var(--success);
	}

	&:not([data-success='true']) > *:last-child {
		color: var(--danger);
	}
}
