@use 'src/assets/main';

.selected-file-container {
	display: grid;
	grid-template-rows: 2fr 1fr;
	row-gap: 1rem;
	flex: 1;

	overflow: auto;
	background: var(--bg-dark);
	height: 100%;
	padding: 1rem;

	&:not([data-visible='true']) {
		display: none;
	}

	@container main-content (width <= 800px) {
		position: absolute;
		inset: 0;
		z-index: 40;
		width: 100%;
		transition:
			opacity 200ms ease,
			transform 200ms ease;

		&:not([data-visible='true']) {
			opacity: 0;
			pointer-events: none;
			display: flex;
			transform: scale(0.9);
		}
	}

	@media not all and (min-width: 768px) {
		padding: 1rem;
	}
}

.selected-file-menu {
	@extend .center-content;
	position: relative;

	& > * {
		font-size: 1.25rem;
		color: var(--text-muted);
	}

	& > button {
		font-size: 2rem;
		position: absolute;
		right: 0;
		@include main.hover-text;
	}
}

div:has(> .selected-file-slider) {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.selected-file-slider {
	flex: 1;
	position: relative;
	& > div {
		position: absolute;
		inset: 0;
	}
}

.selected-file-name-frame {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 0.5rem;
}
