@use 'src/assets/main';

.selected-file-container {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	border-right: 1px solid var(--border);
	background-color: var(--bg-dark);
	height: 100%;
	width: 50%;
	padding: 1rem;
}

.selected-file-menu {
	@extend .center-content;
	position: relative;
	font-size: 1.5rem;
	height: 3rem;

	& > * {
		font-weight: bold;
		font-size: 1em;
		color: var(--text-muted);
	}

	& > button {
		font-size: 1.5em;
		position: absolute;
		left: 0;
		@include main.hover-text;
	}
}

.selected-file-grid {
	display: grid;
	grid-template-rows: 1fr 1fr;
	row-gap: 1rem;
	height: 100%;
}

div:has(> .selected-file-slider) {
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
}

.selected-file-slider {
	height: 100%;
	width: 100%;
	position: relative;
	transition: left 300ms ease;
}

.selected-file-name-frame {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 0.5rem;
}
