@use 'src/assets/main';

.selected-img-container {
	@extend .center-content;

	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;

	& > img {
		max-width: 100%;
		max-height: 100%;
		height: 100%;
		object-fit: contain;
	}

	// img {
	// 	height: 100%;
	// 	width: 100%;
	// 	object-fit: contain;
	// }
}

.selected-file-name {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--text);
	text-align: center;
}

.selected-file-swapper {
	@extend .center-content;
	@include main.hover-text;

	& > * {
		font-size: 5rem;
	}
}
