@use 'src/assets/main';

.btn-danger {
	@include main.hover-bg(var(--danger));

	padding: 1rem 1.5rem;
	font-weight: 500;
	border-radius: 1rem;
	width: fit-content;

	@media not all and (min-width: 768px) {
		width: 100%;
	}
}

.modal {
	@include main.modal;

	& > div {
		@extend .center-content;

		flex-direction: column;
		row-gap: 1.5rem;
		text-align: center;
		position: relative;

		background-color: var(--bg-dark);
		border-radius: 0.5rem;
		padding: 2rem;
		width: 60cqw;

		@media not all and (min-width: 768px) {
			width: 90vw;
		}

		& h2 {
			font-size: 1.5rem;
			font-weight: bold;
			color: var(--text-main);
		}

		& p {
			color: var(--text-muted);
		}

		& button {
			padding: 0.5rem 1rem;
			border-radius: 0.5rem;
		}
	}
}

.modal-btn-confirm {
	@extend .btn-danger;
}

.modal-btn-cancel {
	@include main.hover-bg(var(--bg-dark));
	border: 1px solid var(--border);
}

.modal-btn-close {
	@extend .center-content;

	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: 1.5rem;
	padding: 0 !important;
	aspect-ratio: 1 / 1;

	& > * {
		position: absolute;
		font-size: 1.5rem;
	}

	@include main.hover-text;
}
