@use 'src/assets/main';

.range-thumb-circle {
	&::before {
		@extend .center-content;
		@extend .shadow-base;

		--vertical-padding: 0.25rem;

		content: attr(data-value);
		position: absolute;
		top: calc(-1 * (100% + var(--vertical-padding) * 2 + 0.5rem));
		pointer-events: none;

		padding: var(--vertical-padding) calc(var(--vertical-padding) * 2);
		border-radius: 0.5rem;

		background-color: var(--bg-light);
		color: var(--text-muted);
		line-height: 1;
		font-weight: 700;

		transition: opacity 200ms ease;
	}

	&:not([data-visible='true'])::before {
		opacity: 0;
	}
}
