@use 'src/assets/main';

.settings-header {
	font-weight: 700;
	color: var(--text-muted);
	font-size: 0.875rem;
	padding-left: 0.25rem;

	@media not all and (min-width: 768px) {
		display: none;
	}
}

.settings-category {
	@include main.hover-bg(var(--bg-dark));

	display: flex;
	align-items: center;
	justify-content: space-between;

	border-radius: 0.5rem;
	padding: 0.5rem;
	text-align: left;
	color: var(--text-muted);
	font-weight: 500;

	@media (min-width: 768px) {
		&[data-active='true'] {
			color: var(--accent);
			background-color: var(--accent-muted);

			&:hover {
				background-color: var(--accent-muted);
			}
		}

		& *:not(span, p) {
			display: none;
		}

		padding: 0.5rem 1rem;

		@include main.hover-bg(var(--bg-base));
	}
}
