@use 'src/assets/main';

.settings-modal {
	@include main.modal;
	& > div {
		background-color: var(--bg-dark);
		color: var(--text-main);
	}
}

.settings-container {
	display: flex;
	border-radius: 2rem;
	overflow: hidden;
	position: relative;
	width: 80%;
	height: 80%;

	container: settings-container / inline-size;

	@media not all and (min-width: 768px) {
		position: fixed;
		inset: 0;
		width: 100%;
		height: 100%;
		border-radius: 0;
	}
}

.settings-categories {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;

	min-width: 250px;
	padding: 2rem 1rem;
	background-color: var(--bg-base);
	border-right: 1px solid var(--border);

	@media not all and (min-width: 768px) {
		position: absolute;
		inset: 0;
		width: 100vw;

		transition: transform 200ms ease;

		&:has(~ .settings-content[data-visible='true']) {
			transform: translateX(-5rem);
		}
	}
}

.settings-content {
	padding: 1rem 0.5rem 1rem 0;
	flex-grow: 1;
	background-color: var(--bg-dark);

	@media not all and (min-width: 768px) {
		position: absolute;
		inset: 0;
		width: 100vw;

		transition: transform 200ms ease;

		&:not([data-visible='true']) {
			transform: translateX(100%);
		}
	}
}

.settings-close {
	@extend .center-content;
	@include main.hover-bg(var(--bg-base));

	position: absolute;
	top: 1.5rem;
	right: 1.5rem;

	width: 2rem;
	height: 2rem;
	border-radius: 0.5rem;

	font-size: 1.25rem;
	color: var(--text-muted);

	@media not all and (min-width: 768px) {
		@include main.hover-bg(var(--bg-light));
	}
}

.settings-back {
	display: none;
}

@media not all and (min-width: 768px) {
	.settings-content[data-visible='true'] {
		& ~ .settings-close {
			display: none;
		}

		& ~ .settings-back {
			display: flex;
		}
	}
}
