@use 'src/assets/main';

.settings-header {
	font-weight: 700;
	color: var(--text-muted);
	font-size: 0.875rem;
	padding-left: 0.25rem;

	@media not all and (min-width: 768px) {
		display: none;
	}
}

.settings-category {
	@include main.hover-bg(var(--bg-dark));

	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	text-align: left;
	color: var(--text-main);
	font-weight: 500;

	@media (min-width: 768px) {
		&[data-active='true'] {
			color: var(--accent);
			background-color: var(--accent-muted);
		}

		@include main.hover-bg(var(--bg-base));
	}
}
