.settings-page-header {
	font-size: 2rem;
	font-weight: bold;
	color: var(--text-main);
}

.settings-content > div {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;

	height: 100%;
	width: 100%;
	overflow-y: auto;
	padding: 1rem;
}

.settings-section {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;

	& > h3 {
		color: var(--text-main);
	}
}
