@use 'src/assets/main';

.settings-modal {
	@include main.modal;
	& > div {
		background-color: var(--bg-dark);
		color: var(--text-main);
	}
}

.settings-container {
	--button-size: 2rem;

	display: flex;
	border-radius: 2rem;
	overflow: hidden;
	position: relative;
	width: 80%;
	height: 80%;

	container: settings-container / inline-size;
}

.settings-categories {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;

	min-width: 250px;
	padding: 2rem 1rem;
	background-color: var(--bg-base);
	border-right: 1px solid var(--border);
}

.settings-content {
	padding: 1rem 0.5rem 1rem 0;
	flex-grow: 1;
	background-color: var(--bg-dark);
}

.settings-status-bar {
	display: none;
}

.settings-close {
	@extend .center-content;
	@include main.hover-bg(var(--bg-base));

	position: absolute;
	top: 1.5rem;
	right: 1.5rem;

	width: var(--button-size);
	height: var(--button-size);
	border-radius: 0.5rem;

	font-size: 1.25rem;
	color: var(--text-muted);
}

.settings-back {
	display: none;
}
