@use 'src/assets/main';

.quiz-control-panel {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	--gap: min(1rem, 3.3vw, 2vh);
	gap: var(--gap);
}

.control-button {
	@include main.hover-bg(var(--bg-light));

	@extend .center-content;

	border-radius: 0.5rem;
	color: var(--text-muted);
	font-weight: bold;

	--height: calc(var(--gap) * 4);
	height: var(--height);
	aspect-ratio: 1 / 1;

	& > * {
		font-size: calc(var(--height) / 2);
	}

	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&.complete-button {
		@include main.on-hover() {
			background: oklch(from var(--success) calc(l - 0.3) calc(c - 0.15) h);
			color: var(--success);
		}
		border-radius: 50%;
	}

	&:last-of-type {
		grid-column: 3;
	}
}
