.control-btn {
	height: 5rem;
	aspect-ratio: 5/4;
	outline: none;
	transition: background-color 0.1s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	color: hsl(0, 0%, 55%);
	position: relative;
	font-size: 2rem;

	&:hover {
		background-color: rgb(38 38 38 / 0.1);
	}

	& > * {
		position: absolute;
		transform: translateY(-0.625rem);
	}

	&::after {
		content: attr(data-text);
		position: absolute;
		bottom: 0.75rem;
		color: hsl(0, 0%, 65%);
		font-size: 0.75rem;
		font-weight: 700;
	}
}

.control-btn-disabled {
	background-color: rgb(90 90 90) !important;
	/* color: rgb(128 128 128 / 0.6); */
	filter: brightness(0.5);
	cursor: default;
}
