@use 'src/assets/main';

.quiz-control-panel-container {
	width: min(100%, 500px);
	aspect-ratio: 2 / 1;

	container: quiz-control-panel / inline-size;
}

.quiz-control-panel {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1rem;

	width: 100%;
	height: 100%;

	@container quiz-control-panel (width <= 500px) {
		gap: calc(16cqw / 5);
	}
}

.control-button {
	@include main.hover-bg(var(--bg-base));

	@extend .center-content;
	flex-direction: column;
	row-gap: 0.5rem;

	border-radius: 0.5rem;
	color: var(--text-muted);
	font-weight: bold;
	width: 100%;
	height: 100%;

	font-size: 1rem;
	@container quiz-control-panel (width <= 500px) {
		font-size: calc(16cqw / 5);
		row-gap: calc(8cqw / 5);
	}

	& > *:not(span) {
		font-size: 2.5em;
	}

	& > span {
		font-size: 1em;
	}

	&:last-of-type {
		grid-column: span 3;
		color: var(--accent);
		@include main.hover-bg(var(--accent-muted));
	}
}
