@use 'src/assets/main';

.quiz-image-viewer {
	@extend .center-content;

	width: 100%;
	height: 100%;

	& > img {
		max-width: 100%;
		max-height: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.quiz-name-viewer {
	display: flex;
	flex-direction: column;
	text-align: center;

	&[data-loading='true'] > .main-text {
		color: var(--border);
		font-weight: bold;
	}

	&[data-error='true'] > .main-text {
		color: var(--danger);
		font-weight: 500;
	}

	& > .main-text {
		color: var(--text-main);
		font-size: 1.5rem;
		line-height: 1.4;
	}

	& > .subtext {
		color: var(--text-muted);
	}
}
