.quiz-container {
	background-color: var(--bg-dark);
	padding: 2rem;
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-rows: repeat(8, 1fr);

	& > *:first-of-type {
		grid-row: span 4;
	}

	& > *:last-of-type {
		grid-row: span 3;
	}

	& > * {
		padding: 0.25rem;
	}
}
