@use 'src/assets/main';

.btn-danger {
	@include main.hover-bg(var(--danger));

	padding: 1rem 1.5rem;
	font-weight: 500;
	border-radius: 1rem;
	width: fit-content;
}

.modal {
	@include main.modal;

	& > div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
