@use 'src/assets/main';

.btn-danger {
	@include main.hover-bg(var(--danger));

	padding: 1rem 1.5rem;
	font-weight: 500;
	border-radius: 1rem;
	width: fit-content;
}

.modal {
	@include main.modal;

	& > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 1.5rem;
		text-align: center;

		background-color: var(--bg-dark);
		border-radius: 0.5rem;
		padding: 1rem;
		width: min(60cqw, 95vw);

		& h2 {
			font-size: 1.5rem;
			font-weight: bold;
			color: var(--text-main);
		}

		& p {
			color: var(--text-muted);
		}
	}
}

.modal-btn-confirm {
	@extend .btn-danger;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}

.modal-btn-close {
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	border: 1px solid var(--border);

	&:hover {
		text-decoration: underline;
	}
}
