@use 'src/assets/main';

.container {
	@include main.hover-bg(var(--bg-base));

	display: flex;
	align-items: center;
	column-gap: 1rem;

	width: 100%;
	padding: 1rem;
	border-radius: 1rem;

	transition: background-color 200ms ease, color 200ms ease;

	.switch {
		display: flex;
		align-items: center;

		height: 1rem;
		aspect-ratio: 2 / 1;
		background-color: var(--border);
		border-radius: 1000px;

		transition: background-color 200ms ease;

		& > div {
			position: relative;
			left: 0;

			height: 100%;
			transform: scale(1.15);
			aspect-ratio: 1 / 1;
			border-radius: 50%;
			background-color: var(--text-muted);

			transition: left 200ms ease, background-color 200ms ease;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;

		& > .title {
			color: var(--text-main);
		}

		& > .description {
			color: var(--text-muted);
			font-size: 0.75rem;
			text-align: left;
		}
	}

	&[data-active='true'] {
		background-color: var(--accent-muted);

		.switch {
			background-color: var(--accent);

			& > div {
				background-color: var(--text-main);
				left: 50%;
			}
		}

		.title {
			color: var(--accent);
		}
	}
}
