.mode-slider {
	position: relative;
	z-index: 10;

	.quiz-mode {
		left: 0;
	}

	@media not all and (min-width: 768px) {
		transition: left 500ms;

		&:not(.quiz-mode) {
			left: 100%;
		}
	}

	& > * {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
