:root {
	--text: oklch(0.9491 0 0);
	--text-muted: oklch(0.6993 0 0);
	--border: oklch(0.4017 0 0);
	--bg-light: oklch(0.2603 0 0);
	--bg-base: oklch(0.2178 0 0);
	--bg-dark: oklch(0.1822 0 0);

	--accent: oklch(0.6802 0.1606 278.08);
	--accent-muted: oklch(0.3296 0.0529 280.15);
}

.text-muted {
	color: var(--text-muted);
}

.text-main {
	color: var(--text);
}

.text-accent {
	color: var(--accent);
}

.bg-dark {
	background-color: var(--bg-dark);
}

.bg-base {
	background-color: var(--bg-base);
}

.bg-light {
	background-color: var(--bg-light);
}

.bg-accent-muted {
	background-color: var(--accent-muted);
}
