:root {
	--text: oklch(95% 0 0);
	--text-muted: oklch(70% 0 0);
	--border: oklch(40% 0 0);
	--bg-dark: oklch(15% 0 0);
	--bg-base: oklch(10% 0 0);
	--bg-light: oklch(5% 0 0);

	--accent: oklch(55.088% 0.20446 259.68);
	--accent-muted: oklch(74.34% 0.11046 256.855);
}

.text-muted {
	color: var(--text-muted);
}

.text-main {
	color: var(--text);
}

.bg-dark {
	background-color: var(--bg-dark);
}

.bg-base {
	background-color: var(--bg-base);
}

.bg-light {
	background-color: var(--bg-light);
}

.bg-accent {
	color: var(--accent);
}
