@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
	font-family: Inter, sans-serif;

	--text: oklch(0.9491 0 0);
	--text-muted: oklch(0.6993 0 0);
	--border: oklch(0.4017 0 0);
	--bg-light: oklch(0.2603 0 0);
	--bg-base: oklch(0.2178 0 0);
	--bg-dark: oklch(0.1822 0 0);

	--accent: oklch(0.6802 0.1606 278.08);
	--accent-muted: oklch(0.3296 0.0529 280.15);
}

.text-muted {
	color: var(--text-muted) !important;
}

.text-main {
	color: var(--text) !important;
}

.text-accent {
	color: var(--accent) !important;
}

.bg-dark {
	background-color: var(--bg-dark) !important;
}

.bg-base {
	background-color: var(--bg-base) !important;
}

.bg-light {
	background-color: var(--bg-light) !important;
}

.bg-accent-muted {
	background-color: var(--accent-muted) !important;
}

.shadow-base {
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.25), 0 0 5px 0px rgba(0, 0, 0, 0.25);
}
