@use './main';

.image-fit-container {
	@extend .center-content;

	width: 100%;
	height: 100%;

	& > img {
		max-width: 100%;
		max-height: 100%;
		border-radius: 0.5rem;
		background-color: var(--border);

		height: 100%;
		width: auto;

		&[data-wide='1'] {
			width: 100% !important;
			height: auto !important;
		}
	}
}
