@use './main';

.image-fit-container {
	@extend .center-content;

	width: 100%;
	height: 100%;

	&:not([data-loaded='true']) {
		background-color: var(--border);
		border-radius: 0.5rem;
	}

	& > img {
		@extend .center-content;

		max-width: 100%;
		max-height: 100%;
		border-radius: 0.5rem;
		border: none !important;

		object-fit: contain;

		height: 100%;
		width: auto;

		&[data-error='true'] {
			display: none;
		}

		&[data-wide='1'] {
			width: 100% !important;
			height: auto !important;
		}
	}
}
