@use 'sass:color';
@use './global';

main {
	display: flex;
	height: 100svh;
}

.main-content {
	flex-grow: 1;
	z-index: 0;
	background-color: var(--bg-dark);

	display: flex;
	flex-direction: column;
	position: relative;
	overflow-y: hidden;

	container: main-content / inline-size;
}

.fill-space {
	display: flex;
	flex: 1 0 0;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin hover-bg($color, $property: background-color) {
	#{$property}: $color;
	transition: #{$property} 100ms ease;

	&:hover {
		#{$property}: oklch(from $color calc(l + 0.033) c h);
	}
}

@mixin hover-text {
	color: var(--text-muted);
	transition: color 100ms ease;

	&:hover {
		color: var(--text-main);
	}
}

@mixin lighten($color, $amount: 0.033) {
	background-color: oklch(from $color calc(l + $amount) c h) !important;
}

@mixin modal {
	@extend .center-content;

	position: fixed;
	inset: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: oklch(0 0 0 / 0.5);

	transition: opacity 200ms ease;

	& > div {
		@extend .shadow-base;
		transition: transform 200ms ease;
	}

	&:not([data-open='true']) {
		opacity: 0;
		pointer-events: none;

		& > div {
			transform: scale(0.9);
		}
	}
}
