main {
	display: flex;
	height: 100vh;
}

.main-content {
	flex-grow: 1;
	z-index: 0;
	display: flex;
	flex-direction: column;
}

.fill-space {
	flex: 1 0 auto;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}
