@use 'sass:color';

main {
	display: flex;
	height: 100vh;
}

.main-content {
	flex-grow: 1;
	z-index: 0;
	display: flex;
	flex-direction: column;
	position: relative;
}

.fill-space {
	display: flex;
	flex: 1 0 0;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin hover-bg($color, $property: background-color) {
	#{$property}: $color;
	transition: #{$property} 100ms ease;

	&:hover {
		#{$property}: oklch(from $color calc(l + 0.033) c h);
	}
}

@mixin hover-text {
	color: var(--text-muted);
	transition: color 100ms ease;

	&:hover {
		color: var(--text);
	}
}

@mixin lighten($color, $amount: 0.033) {
	background-color: oklch(from $color calc(l + $amount) c h) !important;
}
