@use './global';
@use './main';

.toast-container {
	@extend .shadow-base;

	z-index: 1001;

	position: fixed;
	top: 1rem;
	right: 1rem;
	height: 4rem;
	min-width: 300px;

	display: flex;
	align-items: center;
	column-gap: 1rem;

	background: var(--bg-base);
	padding: 1rem;
	border-radius: 1rem;

	transition: transform 200ms ease;

	& > .toast-icon {
		color: var(--success);
		font-size: 2rem;
	}

	& > p {
		color: var(--text-muted);
		font-weight: bold;
		text-align: start;
	}

	@media not all and (min-width: 768px) {
		width: calc(100vw - 1rem);
		inset: 0.5rem;
	}

	&:not([data-visible='true']) {
		transform: translateY(-200%);
	}
}

.divider-vertical {
	width: 2px;
	height: 100%;
	background: var(--border);
}
