@use 'src/assets/main';

.sidebar-head-button {
	@extend .center-content;
	@include main.hover-bg(var(--bg-light));

	color: var(--text-muted);
	border-radius: 0.5rem;

	&.square {
		height: 100%;
		aspect-ratio: 1 / 1;
	}

	&.active {
		@include main.lighten(var(--bg-light), 0.05);
	}

	& > * {
		font-size: 20px;
	}
}
