@use 'src/assets/main';

.sidebar-head-button {
	@extend .center-content;
	@include main.hover-bg(var(--bg-light));

	color: var(--text-muted);
	border-radius: 0.5rem;

	&.square {
		height: 100%;
		aspect-ratio: 1 / 1;
	}

	&.folder-name {
		padding: 0.25rem 0.5rem;

		&.active {
			background: var(--accent-muted);
			color: var(--accent);
		}
	}

	& > * {
		font-size: 20px;
	}
}
