@use 'src/assets/global';

.menu-bar {
	z-index: 30;
	background-color: var(--bg-dark);
	border-bottom: 1px solid var(--border);
	padding: 0.5rem;
	padding-left: 1rem;
	color: var(--text-muted);

	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 0.5rem;

	&[data-hidden='true'] {
		display: none;
	}

	&:not([data-hidden='true']) {
		@extend .shadow-base;
	}

	@media (min-width: 1024px) {
		& > button {
			display: none !important;
		}

		&:not([data-visible-pc='true']) {
			display: none;
		}
	}

	& > button {
		display: flex;
		align-items: center;
		column-gap: 0.5rem;

		& > *:not(span) {
			font-size: 1.5rem;
		}

		& > span {
			font-size: 1rem;
		}
	}
}
