@use 'src/assets/global';

.menu-bar {
	@extend .shadow-base;

	z-index: 30;
	background-color: var(--bg-dark);
	border-bottom: 1px solid var(--border);
	padding: 0.5rem 1rem;
	color: var(--text-muted);

	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 0.5rem;

	@media (min-width: 1024px) {
		display: none;
	}

	& > button {
		display: flex;
		align-items: center;
		column-gap: 0.5rem;

		& > *:not(span) {
			font-size: 1.5rem;
		}

		& > span {
			font-size: 1rem;
		}
	}
}
