@use 'src/assets/global';
@use 'src/assets/main';

.path-viewer-container {
	position: absolute;
	display: flex;
	align-items: start;
	column-gap: 0.5rem;

	width: calc(100% - 1rem);

	&.hide {
		display: none;
	}
}

.path-viewer {
	@extend .shadow-base;

	background: var(--bg-base);
	border-radius: 0.5rem;
	padding: 0.25rem;

	width: 100%;
	overflow: hidden;
	display: flex;

	& > div {
		border-radius: 0.25rem;
		border: 1px solid var(--border);
		background: var(--bg-dark);

		width: 100%;
		overflow: hidden;
		padding: 1rem;

		& > div {
			overflow: auto;
		}
	}
}

.path-folder {
	color: var(--text-muted);
	font-size: 1.25rem;
	text-align: left;
	text-decoration: underline;
	text-overflow: ellipsis;

	display: flex;
	align-items: center;
	column-gap: 0.25rem;

	&.path-file {
		text-decoration: none;
		font-weight: bold;
	}
}

.path-viewer-close {
	@include main.hover-bg(var(--bg-light));
	@extend .center-content;
	@extend .shadow-base;

	border-radius: 2rem;
	height: 32px;
	aspect-ratio: 1 / 1;

	color: var(--text-muted);

	& > * {
		font-size: 20px;
	}
}
