@tailwind base;
@tailwind utilities;
@tailwind components;

body {
	margin: 0;
	overscroll-behavior-y: contain;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 0.8rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgb(140, 150, 160);
	border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background-color: rgb(90, 100, 110);
}
