@tailwind base;
@tailwind utilities;
@tailwind components;

body {
	margin: 0;
	overscroll-behavior-y: contain;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 0.8rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgb(140, 150, 160);
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: rgb(160, 170, 180);
}

.custom-scrollbar::-webkit-scrollbar-track {
	background-color: rgb(90, 100, 110);
	border-radius: 10px;
	margin: 0.25rem 0;
}

@media (pointer: coarse) {
	::-webkit-scrollbar {
		display: none;
	}

	.phone-invisible {
		display: none;
	}
}

:root {
	--settings-scale: 0;
}
