@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	--color-scale: 0;

	--bg-main: #374151;
	--bg-bright: #4b505f;
	--bg-secondary: #697387;
	--text-main: #9ca3af;
	--text-bright: #c8cddc;

	color-scheme: light dark;

	/* --bg-main: #f8c8dc;
	--bg-bright: #f5b5d0;
	--bg-secondary: #e892b6;
	--text-main: #de3163;
	--text-bright: #cf2758; */
}

body {
	margin: 0;
	overscroll-behavior-y: contain;
}

input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0.1rem;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 0.8rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: hsl(from var(--bg-main) h s calc(l + 12));
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: hsl(from var(--bg-main) h s calc(l + 17));
}

.custom-scrollbar::-webkit-scrollbar-track {
	background-color: hsl(from var(--bg-main) h s calc(l + 5));
	border-radius: 10px;
	margin: 0.25rem 0;
}

.menu-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0.75rem;
	width: 100%;
	color: hsl(0, 0%, 35%);
	font-size: 2rem;
	transition: color 0.2s ease;
	outline: none;
}

@media (min-width: 768px) {
	.menu-btn:hover {
		color: hsl(0, 0%, 75%);
	}
}

.menu-btn:has(.active) {
	color: hsl(0, 0%, 70%);
}

/* 
@media (min-width: 768px) {
	.menu-btn::after {
		content: '';
		position: absolute;
		right: 0;
		width: 0.6rem;
		height: 60%;
		transform: translateX(110%);
		transition: transform 0.2s ease;
		background-color: hsl(0, 0%, 50%);
		border-radius: 1rem;
	}

	.menu-btn:has(.active)::after {
		transform: translateX(55%);
	}
} */

@media (pointer: coarse) {
	::-webkit-scrollbar {
		display: none;
	}

	.phone-invisible {
		display: none;
	}
}

:root {
	--settings-scale: 0;
}

.faint-bg {
	background-color: hsl(220, 33%, 25%);
}

.keybind-btn {
	padding: 0.25rem 0.5rem;
	transition: background-color 0.2s ease;
	border-radius: 0.25rem;
	border: 0.1rem solid hsl(0, 0%, 45%);
}

.keybind-btn.active {
	border: none;
	font-weight: 700;
}

.keybind-btn:not(.active):hover {
	background-color: hsl(0, 0%, 22.5%);
}

.btn-danger {
	background-color: transparent;
	border: 2px solid hsl(355, 65%, 50%);
	color: hsl(0, 0%, 90%);
	font-weight: 500;
	font-size: 1.125rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	transition: all 0.2s ease;
}

.btn-danger:hover {
	background-color: hsl(355, 65%, 50%);
}

@media not all and (min-width: 400px) {
	.btn-danger {
		font-size: 1rem;
		margin: 0 auto;
	}
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: hsl(0, 0%, 20%);
	padding: 1.5rem 2.5rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 90vw;
	width: max-content;
}
